# Lab 3
## 3.3.2024

## Arch Model

a statistical model for time series data that describes the variance of the current error term or innovation as a function of the actual sizes of the previous time periods' error terms

### Preparation

In [3]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller
from arch import arch_model

In [4]:
### Reading Stock Price File

XOM = pd.read_csv("XOM.csv")

In [5]:
### Head

XOM.head()

         Date  Open      High       Low     Close  Adj Close   Volume
0  1962-01-02   0.0  1.589844  1.578125  1.578125   0.095784   902400
1  1962-01-03   0.0  1.601563  1.578125  1.601563   0.097206  1200000
2  1962-01-04   0.0  1.613281  1.597656  1.605469   0.097444  1088000
3  1962-01-05   0.0  1.613281  1.566406  1.570313   0.095310  1222400
4  1962-01-08   0.0  1.582031  1.546875  1.566406   0.095073  1388800

In [6]:
### Reading again and specify first column as index

XOM = pd.read_csv("XOM.csv", index_col=0)

In [7]:
### Head

XOM.head()

            Open      High       Low     Close  Adj Close   Volume
Date
1962-01-02   0.0  1.589844  1.578125  1.578125   0.095784   902400
1962-01-03   0.0  1.601563  1.578125  1.601563   0.097206  1200000
1962-01-04   0.0  1.613281  1.597656  1.605469   0.097444  1088000
1962-01-05   0.0  1.613281  1.566406  1.570313   0.095310  1222400
1962-01-08   0.0  1.582031  1.546875  1.566406   0.095073  1388800

## Test for stationarity

In [8]:
### AD Fuller Test

print(adfuller(XOM["Adj Close"]))

(1.4135831998503192, 0.9971749829907659, 36, 15598, {'1%': -3.430769308660732, '5%': -2.861725316810465, '10%': -2.5668686395747655}, 23792.874696335144)

In [9]:
### p-value
print('p-value: %f' % adfuller(XOM["Adj Close"])[1])

p-value: 0.997175

## Detrending and test again

In [14]:
### Detrending
returns = 100* XOM["Adj Close"].pct_change().dropna()

In [15]:
### Head
returns.head()

Date
1962-01-03    1.484590
1962-01-04    0.244841
1962-01-05   -2.189976
1962-01-08   -0.248662
1962-01-09   -0.249282
Name: Adj Close, dtype: float64

In [16]:
### Test for stationarity of returns
print('p-value: %f' % adfuller(returns)[1])

p-value: 0.000000

## Arch Model

In [18]:
am = arch_model(returns, vol="ARCH")
res = am.fit()
print(res.summary())

Iteration:      1,   Func. Count:      5,   Neg. LLF: 54295533889182.164
Iteration:      2,   Func. Count:     13,   Neg. LLF: 8600333172.617403
Iteration:      3,   Func. Count:     19,   Neg. LLF: 28241.237262962182
Iteration:      4,   Func. Count:     25,   Neg. LLF: 26990.236482618297
Iteration:      5,   Func. Count:     29,   Neg. LLF: 26990.236205918423
Iteration:      6,   Func. Count:     32,   Neg. LLF: 26990.236205918467
Optimization terminated successfully    (Exit mode 0)
            Current function value: 26990.236205918423
            Iterations: 6
            Function evaluations: 32
            Gradient evaluations: 6
                      Constant Mean - ARCH Model Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.000
Mean Model:             Constant Mean   Adj. R-squared:                  0.000
Vol Model:                       ARCH   Log-Likelihood:               -26990.2
Distribution:                  Normal   AIC:                           53986.5
Method:            Maximum Likelihood   BIC:                           54009.4
                                        No. Observations:                15634
Date:                Mon, Mar 04 2024   Df Residuals:                    15633
Time:                        10:51:33   Df Model:                            1
                                 Mean Model
============================================================================
                 coef    std err          t      P>|t|      95.0% Conf. Int.
----------------------------------------------------------------------------
mu             0.0649  1.123e-02      5.780  7.475e-09 [4.292e-02,8.696e-02]
                            Volatility Model
========================================================================
                 coef    std err          t      P>|t|  95.0% Conf. Int.
------------------------------------------------------------------------
omega          1.4343  3.668e-02     39.103      0.000 [  1.362,  1.506]
alpha[1]       0.3025  2.550e-02     11.860  1.909e-32 [  0.252,  0.352]
========================================================================

Covariance estimator: robust

## GARCH Model